* {
    font-family: 'Courier New', Courier, monospace, serif;
    word-spacing: 5px;
    line-height: 150%;
    color: rgb(55, 55, 55);
}
a {
    font-weight: bolder;
    color: chocolate;
}
a:hover {
    font-style: italic;
    text-transform: uppercase;
}
a:visited {
    color:coral;
}
body {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(212, 239, 198);
    background-image: url("https://img.rawpixel.com/private/static/images/website/2022-05/pf-s124-td-7034_2.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=e6ffb00b3c8ed745d72c254a62582d66"), linear-gradient(90deg, rgb(219, 255, 219), rgb(159, 234, 237));
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}
q, blockquote {
    width: 50%;
    margin: auto;
    font-size: 160%;
    background-color: rgb(224, 224, 224);
    border-left: 3px;
    border-style: none none none dashed;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-style: italic;
}
.farmer {
    border-left-color: blueviolet;
}
.villager {
    border-left-color:aquamarine;
}
header > :first-child {
    background-color: yellow;
}
.good, .bad {
    text-transform: uppercase;
}
.good {
    color: green;
}
.bad {
    color: red;
}
table tr:nth-child(even) {
    background-color: white;
}
table tr:nth-child(odd) {
    background-color: rgb(198, 198, 198);
}
p:first-child {
    font-weight: bold;
}